<html>

    <head>
        <title>Test</title>
    </head>

    <body>
        {{domanda}}
        
        <form action='/results' method="post">
            <ul>
                    {% for d in domande %}
                        {{loop.index|string + ')'}} {{d}} <br>
                        <input type="radio" name="d{{loop.index}}" value="1"> 
                        <input type="radio" name="d{{loop.index}}" value="2"> 
                        <input type="radio" name="d{{loop.index}}" value="3">
                        <input type="radio" name="d{{loop.index}}" value="4"> 
                        <input type="radio" name="d{{loop.index}}" value="5"> <br>
                    {% endfor %}
            </ul>
            <input type="submit" name="next">                  
        </form>
    </body>
</html>